* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gudea", sans-serif;
}

.container {
  margin-top: 50px;
  width: 100%;
}

/* nav */
nav {
  background-color: #000;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav ul {
  margin-left: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(255, 0, 0);
}

h1 {
  /* font-family: "Dela Gothic One", cursive; */
  color: rgb(255, 0, 0);
}

/* ************************************* */

/* class */
.colorRojo {
  color: rgb(255, 0, 0);
}

/* id */
#colorAzul {
  color: rgb(0, 0, 255);
}

/* import font */

@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
